{{ mri_user }} ALL=(root) NOPASSWD: {{ mri_sensor_service.helper_path | default('/usr/local/sbin/mri-sensor-service') }} status, {{ mri_sensor_service.helper_path | default('/usr/local/sbin/mri-sensor-service') }} is-active, {{ mri_sensor_service.helper_path | default('/usr/local/sbin/mri-sensor-service') }} start, {{ mri_sensor_service.helper_path | default('/usr/local/sbin/mri-sensor-service') }} stop, {{ mri_sensor_service.helper_path | default('/usr/local/sbin/mri-sensor-service') }} restart, {{ mri_sensor_service.helper_path | default('/usr/local/sbin/mri-sensor-service') }} logs, {{ mri_sensor_service.helper_path | default('/usr/local/sbin/mri-sensor-service') }} recent-logs
