{{ ansible_user }} ALL=(root) NOPASSWD: {{ cv_sensor_service.helper_path }} status, {{ cv_sensor_service.helper_path }} is-active, {{ cv_sensor_service.helper_path }} start, {{ cv_sensor_service.helper_path }} stop, {{ cv_sensor_service.helper_path }} restart, {{ cv_sensor_service.helper_path }} logs, {{ cv_sensor_service.helper_path }} logs *
